/* responsive - tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    /* introduce */
    .recruit-title{
        font-size: 60px;
    }
    .recruit-des{
        margin-right: 0;
    }
    /* Main */
    .chicken-title{
        padding: 10px 20px;
        margin: 50px 50px 0;
    }
    .chicken-sale{
        padding: 50px 0;
    }
    .chicken-discount{
        padding-bottom: 30px;
    }
    .discount-img{
        width: 200px
    }
    .discount-title{
        font-size: 20px;
        text-align: center;
    }
    .discount-percent{
        left: 50%;
        transform: translateX(-50%);
        font-size: 18px;
        text-align: center;
    }
}

/* responsive - mobile */
@media (max-width: 739px) {
    /* introduce */
    .recruit-title{
        font-size: 30px;
    }
    .recruit-des{
        font-size: 25px;
        margin-right: 0;
    }
    .introduce__recruit{
        left: 30px;
    }

    /* main */
    .chicken-title{
        font-size: 20px;
        margin: 50px 50px 0;
    }   
    .chicken-sale{
        padding: 50px 20px;
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
    .chicken-discount{
        border: 4px dotted rgb(255, 136, 0) !important;
        padding-bottom: 30px;
    }
    .discount-title{
        text-align: center;
    }
    .discount-percent{
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
    .chicken-discount:nth-child(n+5) >  .discount-img{
        padding: 50px;
    }
}