/* responsive - tablet */
@media (min-width: 740px) and (max-width: 1023px){
     /* introduce */
     .introduce__recruit{
        left: 150px;
    }
    /* main */
    .advertise{
        grid-template-columns: 1fr;
        grid-gap: 40px;
        padding: 40px;
    }
    .advertise__nutrition{
        padding: 0 30px;
    }
}

/* responsive - mobile */
@media (max-width: 739px){
     /* introduce */
     .introduce__recruit{
        left: 25px;
    }   
    .recruit-des{
        font-size: 30px;
    }
    .recruit-money{
        font-size: 80px;
    }

    /* main */
    .advertise{
        grid-template-columns: 1fr;
        grid-gap: 30px;
        padding: 30px;
    }
    .advertise__nutrition{
        padding:0 30px;
    }
    .advertise-title{
        font-size: 24.6px;
        text-align: center;
    }
    .advertise-dess{
        text-align: justify;
    }
    .btn{
        font-size: 20px;
    }
}