
/* responsive - tablet */
@media (min-width: 740px) and (max-width: 1023px) {

    /* header */
    .header{
        justify-content: space-between;
        padding: 0 40px;
    }
    .nav-list:first-child{
        display: none;
    }

    /* footer */
    .content__footer{
        grid-template-columns: 1fr;
        grid-template-areas: initial;
        grid-gap: 40px;
        padding: 30px 0;
    }
    .footer__address{
        grid-area: initial;
    }
    .footer__phone{
        grid-area: initial;
    }
    .footer__time{
        grid-area: initial;
    }    
    .footer__order{
        grid-area: initial;
    }
    .footer__address,.footer__time{
        text-align: center;
    }
}
/* responsive - mobile */
@media (max-width: 739px) {

    /* header */
    .header{
        justify-content: space-between;
        padding: 0 20px;
    }
    .nav-list:first-child{
        display: none;
    }
    .header__logo{
        animation: initial;
        padding: 20px;
    }
    .nav-icon>i{
        font-size: 25px;
    }

    /* footer */
    .content__footer{
        grid-template-columns: 1fr;
        grid-template-areas: initial;
        grid-gap: 40px;
        padding: 30px;
    }
    .footer__address{
        grid-area: initial;
    }
    .footer__phone{
        grid-area: initial;
    }
    .footer__time{
        grid-area: initial;
    }    
    .footer__order{
        grid-area: initial;
    }
    .footer__address,.footer__time{
        text-align: center;
    }
    .footer__copyright{
        font-size: 15px;
    }
}