*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(#21D4FD,#B721FF);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}
/* ------------------------------- */
.item-1{
    text-align: center;
    margin-bottom: 20px;
    color: white;
}
.h1-of-i1{
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.p-of-i1{
    font-size: 23px;
    font-weight: 500;
}
.img-of-i1{
    width: 96px;
    height: 96px;
    border-radius: 50px;
}
/* ------------------------------- */

/* ------------------------------- */

.a-link{
    display: flex;
    text-decoration: none;
    align-items: center;
    font-size: 15px;
    margin: 20px 0;
    width: 650px;
    border: 1px solid white;
    color: black;
    background-color: white;
    border-radius: 35px;
    color: blue;    
}
.img-of-a-link{
    width: 38px;
    height: 38px;
    margin: 8px 8px 8px 25px;
}

a > p{
    width: 800px;
    margin-right: 71px;
    text-align: center;
    font-weight: 600;
}

.a-link:hover{
    background-color: #1b1d1c;
    border-color: #1b1d1c;
    color: white;
}
::selection{
    background-color: red;
    color: white;
}
@media (max-width: 740px){
    .h1-of-i1{
        font-size: 25px;
    }
    .img-of-i1{
        width: 60px;
        height: 60px;
    }
    .p-of-i1{
        font-size: 20px;
    }
    .a-link{
        width: 300px;
    }
}
