/* responsive - tablet */
@media (min-width: 740px) and (max-width: 1023px){
    /* introduce */
    .introduce__recruit{
       left: 50px;
    }
    .recruit-des--space{
        margin-right: 0;
    }
    /* main */
    .rice-chicken{
        grid-template-columns: 1fr 1fr;
        place-items: center;
        padding: 40px 20px;
        grid-gap: 20px;
    }
}
/* responsive - mobile */
@media (max-width: 739px){
     /* introduce */
     .introduce__recruit{
        left: 50px;
     }
    .recruit-title{
        font-size: 50px;
    }
    .recruit-des--space{
        margin-right: 20px;
    }
    .recruit-des{
        font-size: 30px;
    }
    /* main */
    .rice-chicken{
        grid-template-columns: 1fr;
        padding: 30px;
        grid-gap: 30px;
    }
    .manager-btn{
        flex-direction: column;
        padding: 0;
        padding-top: 30px;
        margin: 0 100px;
    }
    .btn{
        font-size: 15px;
    }
    .btn+.btn{
        margin-left: 0px;
        margin-top: 30px;
    }
}