// Background
$main-bg: #840906;
$fontSize-header: 1.8rem;
$fontSize-footer: 1.6rem;
$width-icon-header: 40px;
$width-logo: 130px;


// Responsive
$res_main_lg_md: 'screen and (max-width: 1199px)';
$res_main_sm_xm: 'screen and (max-width: 767px)';
$res_main_md_sm_xm: 'screen and (max-width: 991px)';
$res_lg: 'screen and (min-width: 992px) and (max-width: 1199px)';
$res_md: 'screen and (min-width: 768px) and (max-width: 991px)';
$res_sm: 'screen and (min-width: 576px) and (max-width: 767px)';
$res_xm: 'screen and (max-width: 575px)';
