/* responsive - tablet */
@media (min-width: 740px) and (max-width: 1023px){
    /* introduce */
    .recruit-des--space{
        margin-right: 50px;
    }
    .recruit-title{
        font-size: 50px;
    }
    /* main */
    .member__content{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "h1"
        "h2"
        "h3"
        "h4"
        ;
    }
    .member__title{
        text-align: center;
    }
}


@media (max-width: 739px){
    /* introduce */
    .recruit-des--space{
        margin-right: 50px;
    }
    .recruit-title{
        font-size: 40px;
    }
    .recruit-des{
        font-size: 30px;
    }
    .introduce__recruit{
        left: 30px;
    }
    /* main */
    .member__content{
        padding: 30px;
        grid-gap: 30px;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "h1"
        "h2"
        "h3"
        "h4"
        ;
    }
    .member__title{
        text-align: center;
        font-size: 30px;
    }
}