@media (max-width: 739px){
    .header{
        display: none;
    }
    /* Introduce */
    .introduce{
        height: 350px;
    }
    .introduce__recruit{
        left: 40px;
    }
    .introduce__recruit > h1{
        font-size: 40px;
    }
    .introduce__recruit > h2{
        font-size: 20px;
        margin-right: 70px;
        text-align: justify;
        padding: 0;
    }
    /* main */
    .member__content{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: initial;
        grid-gap: 20px;
        padding: 20px 20px;
        grid-template-areas: 
            initial;
        ;
    }
    .member__title{
        grid-area: initial;
        font-size: 20px;
        padding-top: 20px;
    }
    .content__img{
        grid-area: initial;
    }
    .content__des{
        font-size: 18px;
        grid-area: initial;
    }
    /* ------ */
    .benefit{
        display: grid;
        grid-gap: 20px;
        padding: 20px;
    }
    .benefit__title{
        font-size: 18px;
    }
    /* ---- */
    .current-position{
        padding: 50px 0;
    }
    .current-position__title{
        font-size: 30px;
    }
    .current-position__content{
        margin: 0 20px;
        padding: 20px 0;        
    }
    .current-position__des,.current-position__staff{
        font-size: 18px;
    }
    .btn{
        width: 100px;
        padding: 8px 10px 8px;
        font-size: 14px;
        margin-left: 15px;
    }
    .contactus__title{
        font-size: 30px;
        margin: 0 20px;
        text-align: center;
        padding-bottom: 20px;
    }
    .contactus__manager{
        font-size: 25px;
        padding: 10px 0;
    }
    .content__footer{
        grid-template-columns: 1fr;
        grid-template-areas: initial;
        grid-gap: 20px;
        padding: 20px;
        font-size: 15px;
    }
    .footer__address{
        grid-area: initial;
        margin: 0 20px;
    }
    .footer__phone{
        grid-area: initial;
    }
    .footer__time{
        grid-area: initial;
        text-align: center;
    }    
    .footer__order{
        grid-area: initial;
    }
    .time-ship{
        padding: 10px 0;
    }
    .address__title{
        font-size: 18px;
    }
    .address__street{
        font-size: 14px;
    }
    .footer__address{
        text-align: center;
    }
    .footer__copyright{
        font-size: 12px;
    }
}