
// Variable
$font-user: 'Big Shoulders Stencil Display', cursive;
$font-des: 'Grenze Gotisch', cursive;
$font-social: 'Signika', sans-serif;
$fontSize-user: 5rem;
$fontSize-des: 2.8rem;
$fontSize-social: 2.5rem;
$fontSize-icon: 4rem;
$width-social: 600px;
$padding-social: 10px;
$marginTop-social: 15px;
$color-face: blue;
$color-youtube: red;
$color-tiktok: blueviolet;
$color-insta: rgb(234, 14, 241);
$color-zalo: rgb(17, 179, 233);
$color-repl: green;